@font-face {
  font-family: 'nene_weno';
  src: url('../assets/font/NeNe_WeNo_Width_HandWrite.ttf');
}

@font-face {
  font-family: 'handwrited';
  src: url('../assets/font/handwrited.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --background-light: rgb(112, 187, 112);
  --background-dark: #000000;
  --text-color-light: black;
  --text-color-dark: #f8621f;
}

body {
  background-image: url('../assets/image/bg-body-class.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.5s;
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  background-image: none
}

menu > button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: 0.5rem;
  color: white;
}

menu {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.8rem;
}
main {
  background-image: url('../assets/image/bg-main-notebook.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > button {
  height: 2rem;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'handwrited';
  font-weight: bold;
  cursor: pointer;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

h1 {
  font-family: 'nene_weno', sans-serif;
  font-size: 19px;
}

#palabraJuego{
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  color: white;
  font-weight:900;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 28px;
    margin-bottom: 1.1rem;
  }

  section > button {
    font-size: 18px;
  }
}

/*Main screen*/

#main-screen {
  display: none;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.col {
  width: 50%;
  text-align: center;
}
